
body {
    background: linear-gradient(to right, green, blue);
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    min-height: 100vh;
}

.calculator > button {
    font-size: 1.5rem;
}

.calculator > button:hover {
    cursor: pointer;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background: rgba(0, 0, 0, .55);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.previous-num {
    font-size: 1.6rem;
    color: gainsboro;
    padding-right: 1rem;
}

.current-num {
    font-size: 2.2rem;
    color: white;
    padding-right: 1rem;
}